body, html {
	height: 100%;
}

#root {
	height: 100%;
}

.App {
	margin: 0 3em;
	height: 100%;
	background-color: white;
}

.App-header {
	text-align: center;
}

.App-nav {
	margin-bottom: 2em;
}

.App-nav a {
	text-decoration: none;
	color: #36459b;
	margin: 0 1em;
}

.App-nav a:hover {
	text-decoration: underline;
}

.App-nav a:first-child {
	margin-left: 0;
}

.App-link {
	color: #61dafb;
}
#machine_table table{
	margin: auto;
	width: 100%;
	border-collapse: collapse; 
}
#machine_table table tbody tr{
	border: 1px solid black;
}
#machine_table table tbody tr:nth-child(2n+1){
	background: lightgrey;
}
#machine_table table tbody tr{
	cursor: pointer;
}
#machine_table table tbody tr td{
	padding: 5px;
}
.floatLeft{
	float: left;
	width: 45%;
	margin-left: 4%;
}
.floatLeft input{
	width: 100%;
	height: 50px;
}